@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@600&display=swap');

:root {
  --font: 'Press Start 2P', cursive;
  --color-blue: #2B73B9;
  --color-white: #FFFF;
  --color-yellow: #FFCB05;
  --color-cancel: #FF5454;
  --color-cancel-hover: #c62222;
  --color-card-panel: #165FA6;
  --color-ok: #2B73B9;
  --color-ok-hover: #0c4e8f;
  --color-button-hover:#D9AC00;
  --color-modal-back: rgba(43, 115, 185, 0.5);
  --shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: var(--font);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  margin: 0;
  font-family: var(--font);
}

h1,
h2,
h3,
p,
li,
ul,
button,
input,
label,
a,
div {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p,
button,
a,
div,
ul,
li,
input,
label {
  font-size: 1.8rem;
}
.toast-custom{
  background-color: var(--color-blue);
  color: var(--color-white);
}

.toast-exist{
  background-color: var(--color-yellow);
  color: var(--color-blue);
}

.toast-progress{
  background-color: var(--color-yellow);
  height: 1rem;
}
.toast-progress-exist{
  background-color: var(--color-blue);
  height: 1rem;
}

.toast-deleted{
  background-color: var(--color-cancel);
  color: var(--color-white);
}
.toast-progress-deleted{
  background-color: var(--color-white);
  height: 1rem;
}